// html{
//     scroll-behavior: smooth;
// }
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(104, 156, 253);
}
// *, *::after, *::before{
//     box-sizing: inherit;
// }

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}